/* Geral 1 */
* {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(34, 32, 32, 0.8), rgba(34, 32, 32, 0.8)), url("../img/wall45.jpg");
  background-position: center;
  background-size: cover;
}

.menubar{  
  width: 7%;
  padding:16px;
  background-color:lightsteelblue;
  display: flex;
  float: left;
  margin:2em;
  border-radius:20%;
}
.menu-dropdown {   
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.menu-dropdown .md-item{  
  position: relative;   
}
.menu-dropdown .md-item:hover{ /* efeito hover nos itens do menu principal */
  background-color:lightsteelblue;
}
.menu-dropdown .md-item a{
  color: #fff; 
  padding:16px;
  text-decoration: none;
  display: flex;
}
.menu-dropdown .md-item a:hover{ /* efeito hover nos links do menu principal */
  background-color:gray;
  border-radius: 20%;
}
.submenu-dropdown{
  display: none; /* esconde o submenu dropdown */
  position: absolute;
  width:100%;  
}
.sd-item:hover .submenu-dropdown{
  display: flex;  
}
.submenu-dropdown .sd-item{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100%;
  width: 100%;
}
.submenu-dropdown .sd-item a{
  text-align: center;
  font-weight: bold;
  border-radius: 5%;
  width:100%;
  padding:12px;
  background-color:cadetblue;
  color: #fff; 
}
.submenu-dropdown .sd-item a:hover { /* efeito hover nos itens do submenu dropdown */
  background-color: gray;
}
.menu-dropdown .md-item:hover .submenu-dropdown{   /*efeito hover para alterar a cor de fundo*/
  background-color: black; 
  display: flex; /* exibir o submenu dropdown */
}







































button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0, 4s;
}

button:hover {
  background-color: #102f5e;
  color: #fff;
}

button:hover > i {
  color: #fdfdfd;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* Todo header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color:lightsteelblue;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* to do toolbar */

#toolbar {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* To Do List */

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.4s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
    background-color: #395169;
    text-decoration: line-through;
    font-style: it;
}

.video {
  width: 560px;
  margin: 4em auto;
}